<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :measure %><br>
    <%= f.text_field :measure %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :valid_from_day %><br>
    <%= f.date_select :valid_from_day %>
  </div>
  <div class="field">
    <%= f.label :valid_to_day %><br>
    <%= f.date_select :valid_to_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
